*,
::before,
::after {
    box-sizing: border-box;
}
:root {
    font-size: $font-base;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 300;
    font-family: $font-serif;
    color: $black;
    background-color: $light;
}

a {
    color: currentColor;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}
svg {
    height: 1em;
    height: 1em;
    fill: currentColor;
}
