.article {
    background-color: $white;
    padding: 0.5em;
    font-family: $font-serif;
    margin-bottom: 1em;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.article-title {
    margin: 0;
    font-size: 1rem;
    color: $dark;
    font-weight: 600;
    padding: 0.75em 0.5em;
    font-family: $font-sans-serif;
}

.article-image {
    border: 2px solid $light;
    img {
        max-width: 100%;
    }
}
.article-links {
    a {
        font-weight: 600;
        color: $primary;
    }
}

@media (max-width: 992px) {
    .article {
        padding: 0 !important;
    }
}
