$padding: 0.25em 1em;
.control {
    display: block;
    padding: $padding;
    width: 100%;
    font-size: 1rem;
    background-color: $white;
    border: 2px solid $light;

    &:focus {
        outline: none;
        box-shadow: inset 1px 0 0 0.075em rgba($primary, 0.5);
    }
}
.control + .control {
    border-left: none;
}
.btn {
    display: inline-block;
    background-color: transparent;
    padding: $padding;
    font-size: 1rem;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    &:hover {
        cursor: pointer;
    }
}

.btn-primary {
    background: $primary;
    color: $white;
    border-color: $primary;
}
.btn-dark {
    background: $dark;
    color: $white;
    border-color: $dark;
}
.btn-icon {
    svg {
        height: 1.25rem;
        width: 1.25rem;
    }
}
