.main-header {
    font-family: $font-sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-top: 6px solid $dark;
    z-index: 3;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $white;
}
.header-icon {
    svg {
        width: 2.5em;
        height: 2.5em;
        fill: $primary;
    }
}
.mobile-search {
    display: none;
    svg {
        width: 1.5em;
        height: 1.5em;
    }
}
.header-brand {
    color: $primary;
    padding: 0.05em 0.5em;
}

@media (max-width: 992px) {
    .main-header {
        padding: 0 2em 0 1em;
        .filters {
            display: none;
        }
        .header-brand {
            flex: 0 0 90%;
        }

        .mobile-search {
            display: block;
        }
    }
}
