.main-header {
    font-family: $font-sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-top: 6px solid $dark;
    z-index: 3;
    flex-basis: 0 0 20%;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $white;
    .filters {
        flex: 0 0 80%;
    }
    .xh-hidden {
        flex: 0 0 20%;
    }
    .search-box {
        flex: 0 0 60%;
    }
}
.header-icon {
    svg {
        width: 2.5em;
        height: 2.5em;
        fill: $primary;
    }
}

.header-brand {
    color: $primary;
    padding: 0.05em 0.5em;
}

@media (max-width: 992px) {
    .main-header {
        flex-wrap: no-wrap;
        .xs-hidden {
            display: none;
        }
        .filters {
            padding-right: 1em;
        }
        .search-box {
            flex: 0 0 100%;
        }
    }
}
