.sources {
    .container {
        background-color: $white;
        margin-bottom: 0.5em;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                display: flex;
                align-items: center;
                padding: 0 0.75em 0.75em;

                border-bottom: 1px solid $light;

                &:first-child {
                    border-top: 1px solid $light;
                }
                &:last-child {
                    border-bottom: none;
                }
                span {
                    padding-left: 0.5em;
                }
            }
        }
    }

    .sources-title {
        color: $primary;
        text-align: center;
        padding: 0.5em;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0;
    }
}
